# IDE and editor configuration files
.vscode/
.idea/

# RStudio project files
.Rproj.user/
MAVEQC.Rproj

# History files
.Rhistory
.Rapp.history

# Session data files
.RData
.RDataTmp

# User-specific settings
.Ruserdata

# R environment variables
.Renviron
renv/
renv.lock

# Package build and check files
.Rbuildignore
.Rprofile

# Output directory for package checks
/*.Rcheck/

# Knitr and R Markdown Default Cache Directories
*_cache/
/cache/


# testthat files
tests/testthat/README.txt